.search-bar-container {
  width: 100%;
  @include flex($justify:space-between,$align:center);
  padding: 20px;
  color: $headerFontColor;
  background: $headerBgColor;
  font-size: $m;

  @media #{$phone} {
    @include flex($direction:column,$align:center);
    padding: 10px 0;
    & * {
      margin: 5px 0;
    }

  }
}

.logo {
  @include flex($justify:space-evenly,$align:bottom);
  font-size: $ml;

  .logo-image {
    padding: 0 20px;
  }

  .logo-text {
    font-family: $logoFont;
    border-left: 1px solid $headerFontColor;
    padding: 0 20px;
  }
}

.search {
  padding: 5px 10px;
  background: $primaryBgShading;
  font-family: FontAwesome;
  font-size: $xs;
  text-align: center;
  word-spacing: 1rem;

  @media #{$phone} {
    order: 1;
  }  

}

.profile {
  @include flex();
  flex-wrap: nowrap;

  i {
    margin: 0 20px;
  }
}