// General Styles
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body * {
  font-family: $defaultFont;
}

// body {
//   background: $primaryBgShading;
// }

h1, h2, h3, h4, h5 {
  font-family: $headingFont;
  // color: $headingColor;
}

h1 {
  font-size: $ml;
  font-weight: bold;
}

h2 {
  font-size: $m;
  font-weight: bold;
}

h3 {
  font-size: $s;
  font-weight: bold;
}

h4 {
  font-size: $xs;
  font-weight: bold;
}

p {
  font-size: $xs;
  line-height: 1.4;
}

img {
    width: 100%;
    height: auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}